@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
    margin: 0;
    padding: 0;
}

#gameCanvas{
    border: solid 1px black;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

