@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');



#gameCanvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 568;
    height: 100%;
    min-height: 320;
}

.button{
    z-index: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, 0%);
    text-align: center;
}

#home-button{
    top: 0%;
    left: 50%;
    width: 30%;
    min-width: 568/3;
}

#home-button>a{
    color: yellow;
    font-family: "Goldman", sans-serif;
    font-size: 4vh;
    text-decoration: none;
}

#up-button{
    top: 60%;
    left: 6%;
    transform: translate(-50%, 0%);
    color: yellow;
}

#down-button{
    top: 80%;
    left: 6%;
    transform: translate(-50%, 0%);
    color: yellow;
}

#enter-button{
    top: 24%;
    left: 24%;
    transform: translate(-50%, 0%);
    color: green
}

#title-screen{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: green;
}

